body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:74px;
  width:700px;
  height:212px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:82px;
  word-wrap:break-word;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:0px;
  width:86px;
  height:40px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:82px;
  word-wrap:break-word;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:0px;
  width:69px;
  height:40px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:0px;
  width:69px;
  height:40px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:0px;
  width:69px;
  height:40px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:40px;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:0px;
  width:69px;
  height:40px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:65px;
  word-wrap:break-word;
}
#u236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:0px;
  width:86px;
  height:40px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:82px;
  word-wrap:break-word;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:0px;
  width:166px;
  height:40px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:86px;
  height:29px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:40px;
  width:86px;
  height:29px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:82px;
  word-wrap:break-word;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:40px;
  width:69px;
  height:29px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:40px;
  width:69px;
  height:29px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:40px;
  width:69px;
  height:29px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:40px;
  width:69px;
  height:29px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:65px;
  word-wrap:break-word;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:29px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:40px;
  width:86px;
  height:29px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:29px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:40px;
  width:166px;
  height:29px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:69px;
  width:86px;
  height:35px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:69px;
  width:86px;
  height:35px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:69px;
  width:69px;
  height:35px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:69px;
  width:69px;
  height:35px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:69px;
  width:69px;
  height:35px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:69px;
  width:69px;
  height:35px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:69px;
  width:86px;
  height:35px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:69px;
  width:166px;
  height:35px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:86px;
  height:35px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:104px;
  width:86px;
  height:35px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:104px;
  width:69px;
  height:35px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:104px;
  width:69px;
  height:35px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:104px;
  width:69px;
  height:35px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:104px;
  width:69px;
  height:35px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:104px;
  width:86px;
  height:35px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:104px;
  width:166px;
  height:35px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:139px;
  width:86px;
  height:38px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:139px;
  width:86px;
  height:38px;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:139px;
  width:69px;
  height:38px;
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:139px;
  width:69px;
  height:38px;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:139px;
  width:69px;
  height:38px;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:38px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:139px;
  width:69px;
  height:38px;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:65px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:38px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:139px;
  width:86px;
  height:38px;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:38px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:139px;
  width:166px;
  height:38px;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:177px;
  width:86px;
  height:35px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:177px;
  width:86px;
  height:35px;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:82px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:177px;
  width:69px;
  height:35px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:177px;
  width:69px;
  height:35px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:177px;
  width:69px;
  height:35px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:35px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:177px;
  width:69px;
  height:35px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:65px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:35px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:177px;
  width:86px;
  height:35px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:35px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:177px;
  width:166px;
  height:35px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:36px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:34px;
  width:107px;
  height:22px;
}
#u279_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u279_input:disabled {
  color:grayText;
}
#u279_ann {
  border-width:0px;
  position:absolute;
  left:291px;
  top:30px;
  width:1px;
  height:1px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:34px;
  width:107px;
  height:22px;
}
#u280_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u280_input:disabled {
  color:grayText;
}
#u280_ann {
  border-width:0px;
  position:absolute;
  left:432px;
  top:30px;
  width:1px;
  height:1px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:34px;
  width:66px;
  height:22px;
}
#u281_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u281_input:disabled {
  color:grayText;
}
#u281_ann {
  border-width:0px;
  position:absolute;
  left:126px;
  top:30px;
  width:1px;
  height:1px;
}
#u282_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:36px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u283_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:36px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:34px;
  width:64px;
  height:25px;
}
#u284_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u284_ann {
  border-width:0px;
  position:absolute;
  left:650px;
  top:30px;
  width:1px;
  height:1px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:33px;
  width:64px;
  height:25px;
}
#u285_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u285_ann {
  border-width:0px;
  position:absolute;
  left:724px;
  top:29px;
  width:1px;
  height:1px;
}
