body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:955px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:955px;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:470px;
  width:1436px;
  word-wrap:break-word;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
  background:inherit;
  background-color:rgba(0, 21, 41, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:955px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  background:inherit;
  background-color:rgba(0, 40, 77, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:252px;
  word-wrap:break-word;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:65px;
  width:256px;
  height:61px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:24px;
  width:204px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:14px;
  height:13px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:93px;
  width:14px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:247px;
  width:256px;
  height:52px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:266px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:264px;
  width:14px;
  height:14px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:166px;
  width:256px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:206px;
  width:256px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:256px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:319px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:321px;
  width:14px;
  height:12px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:354px;
  width:256px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:373px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:374px;
  width:14px;
  height:14px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:256px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:428px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:428px;
  width:14px;
  height:14px;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:462px;
  width:256px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:482px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:483px;
  width:14px;
  height:12px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:256px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:126px;
  width:256px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
  line-height:22px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:516px;
  width:256px;
  height:54px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 255, 255, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:16px;
  width:204px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:15px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:536px;
  width:14px;
  height:15px;
  opacity:0.65;
  font-family:'anticon', 'Anticon Medium', 'Anticon';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:537px;
  width:14px;
  height:12px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:20px;
  width:161px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:0px;
  width:1184px;
  height:64px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:1317px;
  top:21px;
  width:24px;
  height:24px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:22px;
  width:78px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:22px;
  width:16px;
  height:21px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:23px;
  width:18px;
  height:19px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1136px;
  height:842px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:89px;
  width:1136px;
  height:842px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:90px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u1247_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1247_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:899px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u1248_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1248_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:899px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u1249_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1249_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:90px;
  width:32px;
  height:32px;
  overflow:hidden;
}
#u1250_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1250_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:66px;
  width:136px;
  height:22px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:163px;
  width:1070px;
  height:245px;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1253_ann {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:1px;
  height:1px;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:0px;
  width:157px;
  height:32px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1254_ann {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:1px;
  height:1px;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:0px;
  width:157px;
  height:32px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:0px;
  width:157px;
  height:32px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1256_ann {
  border-width:0px;
  position:absolute;
  left:614px;
  top:0px;
  width:1px;
  height:1px;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:32px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:0px;
  width:157px;
  height:32px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1257_ann {
  border-width:0px;
  position:absolute;
  left:771px;
  top:0px;
  width:1px;
  height:1px;
}
#u1258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:32px;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:0px;
  width:285px;
  height:32px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:281px;
  word-wrap:break-word;
}
#u1258_ann {
  border-width:0px;
  position:absolute;
  left:1056px;
  top:0px;
  width:1px;
  height:1px;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:157px;
  height:35px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:32px;
  width:157px;
  height:35px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:32px;
  width:157px;
  height:35px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:32px;
  width:157px;
  height:35px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:32px;
  width:157px;
  height:35px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:35px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:32px;
  width:285px;
  height:35px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:67px;
  width:157px;
  height:35px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:67px;
  width:157px;
  height:35px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:67px;
  width:157px;
  height:35px;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:67px;
  width:157px;
  height:35px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:67px;
  width:157px;
  height:35px;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:35px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:67px;
  width:285px;
  height:35px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:157px;
  height:35px;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:102px;
  width:157px;
  height:35px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u1273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:102px;
  width:157px;
  height:35px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:102px;
  width:157px;
  height:35px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:102px;
  width:157px;
  height:35px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:35px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:102px;
  width:285px;
  height:35px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:137px;
  width:157px;
  height:38px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:137px;
  width:157px;
  height:38px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:137px;
  width:157px;
  height:38px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u1280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:137px;
  width:157px;
  height:38px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:38px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:137px;
  width:157px;
  height:38px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:153px;
  word-wrap:break-word;
}
#u1282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:38px;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:137px;
  width:285px;
  height:38px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:281px;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:175px;
  width:157px;
  height:35px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:175px;
  width:157px;
  height:35px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:175px;
  width:157px;
  height:35px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:175px;
  width:157px;
  height:35px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:175px;
  width:157px;
  height:35px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:35px;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:175px;
  width:285px;
  height:35px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:157px;
  height:35px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:210px;
  width:157px;
  height:35px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:153px;
  word-wrap:break-word;
}
#u1291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:210px;
  width:157px;
  height:35px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:210px;
  width:157px;
  height:35px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:35px;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:210px;
  width:157px;
  height:35px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:153px;
  word-wrap:break-word;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:35px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:210px;
  width:285px;
  height:35px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u1295_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:125px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:12px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:123px;
  width:107px;
  height:22px;
}
#u1296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1296_input:disabled {
  color:grayText;
}
#u1296_ann {
  border-width:0px;
  position:absolute;
  left:751px;
  top:119px;
  width:1px;
  height:1px;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:123px;
  width:107px;
  height:22px;
}
#u1297_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1297_input:disabled {
  color:grayText;
}
#u1297_ann {
  border-width:0px;
  position:absolute;
  left:892px;
  top:119px;
  width:1px;
  height:1px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:123px;
  width:66px;
  height:22px;
}
#u1298_input {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1298_input:disabled {
  color:grayText;
}
#u1298_ann {
  border-width:0px;
  position:absolute;
  left:408px;
  top:119px;
  width:1px;
  height:1px;
}
#u1299_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:125px;
  width:53px;
  height:18px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1300_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:125px;
  width:53px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1301_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:125px;
  width:14px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:1245px;
  top:123px;
  width:64px;
  height:25px;
}
#u1302_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1302_ann {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:119px;
  width:1px;
  height:1px;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:122px;
  width:64px;
  height:25px;
}
#u1303_input {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1303_ann {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:118px;
  width:1px;
  height:1px;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:120px;
  width:56px;
  height:22px;
}
#u1304_input {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1304_input:disabled {
  color:grayText;
}
#u1304_ann {
  border-width:0px;
  position:absolute;
  left:540px;
  top:116px;
  width:1px;
  height:1px;
}
